<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <Directives xmlns="http://schemas.microsoft.com/netfx/2013/01/metadata">
      <Application>
        <Type Name="System.EventHandler" Dynamic="Required All" />
        <Namespace Name="System.Private.Reflection.Core" Serialize="Required All" />
      </Application>
    </Directives>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>